<main class="list">
  <div class="center">
    <p class="current"><%= @title %>/<%= @title2 %></p>

    <% @questions.each do |question| %>

      <div class="list_box">
        <div class="box_left">
          <div class="left_top">
            <h1><%= question.title %></h1>
            <h2>正答率：〇％</h2>
          </div>
          <p>▶<%= question.question_text.truncate(50) %></p>
        </div>

        <div class="box_right">
          <p>登録日：<%= question.created_at.strftime('%Y.%m.%d') %></p>

          <p>登録者：<%= question.name %></p>

            <%= button_to '▶プレビュー', preview_question_path(question), method: :get, class: 'preview_btn' %>
        </div>
      </div>

    <% end %>

    <%= button_to '問題を作る', new_question_path, method: :get, class: 'create_btn', params: { action_type: 'createQ' } %>
  </div>
</main>
